<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>佛布朗论坛-用户管理</title>
<!---引用样式---->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
<link href="__PUBLIC__/admin/css/font-awesome.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/templatemo-style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/skin/layer.css">
<script type="text/javascript" src="__PUBLIC__/admin/js/templatemo-script.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script> <!-- Google Chart -->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/skin/layer.css">
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<!---引用样式---->
</head>

<body>
<!------>
<!------>
  <!-- Left column -->
    <div class="templatemo-flex-row">
      <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
          <div class="square"></div>
          <h1>
      <!-- **放入管理者名字** -->
       <a data-toggle="modal" data-target="#editpwd">{$adminuser}</a>
      <!-- **放入管理者名字** -->
          </h1>
        </header>
        <div class="profile-photo-container">
          <img src="__PUBLIC__/admin/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">  
          <div class="profile-photo-overlay"></div>
        </div>      
        <!-- Search box -->
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
          </div>
        <nav class="templatemo-left-nav">          
          <ul>
            <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><a href="{:U('Admin/Post/post')}"><i class="fa fa-bar-chart fa-fw"></i>发表</a></li>
            <li><a href="{:U('Admin/Filemannger/files')}"><i class="fa fa-database fa-fw"></i>博客管理</a></li>
            <li><a href="{:U('Admin/Message/index')}"><i class="fa fa-map-marker fa-fw"></i>留言管理</a></li>
            <li><a href="{:U('Admin/Usermanger/user')}" class="active"><i class="fa fa-users fa-fw"></i>用户管理</a></li>
            <li><a href="{:U('Admin/Images/postimge')}"><i class="fa fa-sliders fa-fw"></i>图片管理</a></li>
            <li><a href="{:U('Admin/Login/doout')}"><i class="fa fa-eject fa-fw"></i>退出</a></li>
          </ul>  
        </nav>
      </div>
      <!-- Main content --> 
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
            <!-- 插入时间，欢迎标语 -->
             <span class="text-muted">欢迎使用管理者端</span>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <span class="text-success">北京时间：{$systemtime}</span>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <span style="float: right;" class="text-danger">登陆时间：{$lasttime}</span>
            <!--  -->
            </nav> 
          </div>
        </div>
        <div class="templatemo-content-container">         
          <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10" style="margin-bottom:60px;">用户管理
            </h2>
            <div class="panel panel-default no-border">
              <!---放入用户--->
               <volist name='date' id='vo'>
               <form method="post" id="userform" name="userform" class="form-horizontal">
               <input type="hidden" class="form-control" id="uid" name="uid" placeholder="uid" value="{$vo.uid}">
                <!------>
                <!------>
                 <div class="form-group" style="height:60px;">
                   <label for="" class="col-sm-2">头像</label>
            <!----头像---->
                   <div class="ibox-content">
                      <div class="row">
                         <div id="crop-avatar" class="col-md-6">
                          <div class="avatar-view" style="width:60px;height:60px" title="点击修改图片">
                            <input  id="img" name="img" type="hidden" value="{$vo.user_img}">
                            <input  id="aspectRatio" type="hidden" value="1">
                            <input  id="img_root_url" type="hidden" value="__PUBLIC__/img/uploads/userimg">
                            <img src="__PUBLIC__/img/uploads/userimg/{$vo.user_img}" alt="点击修改图片" style="width:60px;height:60px">
                          </div>
                         </div>
                    </div>
                  </div>
            <!----头像---->
                 </div>
                 <div class="form-group">
                   <label for="" class="col-sm-2">账号</label>
                   <div class="col-md-6 col-sm-10">
                   <input type="text" class="form-control" id="username" name="username" placeholder="用户名" value="{$vo.username}">
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="" class="col-sm-2">手机号码</label>
                   <div class="col-md-6 col-sm-10">
                   <input type="text" class="form-control" id="phone" name="phone" placeholder="手机号码" value="{$vo.phone}">
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="" class="col-sm-2">QQ</label>
                   <div class="col-md-6 col-sm-10">
                   <input type="text" class="form-control" id="qq" name='qq' placeholder="qq" value="{$vo.qq}">
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="" class="col-sm-2">地址</label>
                   <div class="col-md-6 col-sm-10">
                   <input type="text" class="form-control" id="address" name="address" placeholder="地址" value="{$vo.address}">
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="" class="col-sm-2">级别</label>
                   <div class="col-sm-3">
                      <select class="form-control" id="state" name="state">
                  <if condition='$vo.state eq 0'>
                      <option value="0" selected="selected">管理员</option>
                      <option value="1">普通用户</option>
                  </if>
                  <if condition='$vo.state eq 1'>
                      <option value="0">管理员</option>
                      <option value="1" selected="selected">普通用户</option>
                  </if>
                      </select>
                   </div>
                 </div>
                 <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                     <button type="button" class="btn btn-default btn-success" onclick="edit()">确认</button>
                     <button type="button" class="btn btn-default btn-info" data-toggle="modal" data-target="#myModal">修改密码 </button>
                    </div>
                 </div>
               </form>
               </volist>               
              <!---放入用户--->        
          </div>
          <footer class="text-right">
            <p>Copyright &copy; 2016 Company Name 
            | More Templates <a href="#" target="_blank" title="佛布朗博客">佛布朗博客</a> - Collect from <a href="#" title="佛布朗博客" target="_blank">佛布朗博客</a></p>
          </footer>         
        </div>
      </div>
    </div>
<!---动态模态框--->
<!---密码-->
<div class="modal fade" id="editpwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">密码修改</h4>
      </div>
<form method="post">
      <div class="modal-body">
         <div class="form-group">
          <label for="exampleInputPassword1">密码</label>
          <input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="changepwd()">保存</button>
      </div>
</form>
    </div>
  </div>
</div>
<!---密码-->
<!--改变用户密码-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">密码修改</h4>
      </div>
   <form method="post" name="userpwd" id="userpwd">
      <div class="modal-body">
         <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" id="userpassword" name="userpassword" placeholder="密码">
            <input type="hidden" class="form-control" id="userid" name="userid" value="{$uid}">
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="eidtuserpwd()">保存</button>
      </div>
  </form>
    </div>
  </div>
</div>
<!--改变用户密码-->
<!---头像模态框---->
<link href="__PUBLIC__/img_cut_upload/css/cropper.min.css" rel="stylesheet">
<link href="__PUBLIC__/img_cut_upload/css/sitelogo.css" rel="stylesheet">
<script src="__PUBLIC__/img_cut_upload/js/cropper.min.js"></script>
<script src="__PUBLIC__/img_cut_upload/js/sitelogo.js"></script>
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg"  style="width:1000px;">
    <div class="modal-content">
      <form class="avatar-form" action="{:U('Usermanger/postimg',array('id'=>$uid))}" enctype="multipart/form-data" method="post">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="avatar-modal-label">用户头像</h4>
        </div>
        <div class="modal-body">
          <div class="avatar-body">
            <div class="avatar-upload">
              <input class="avatar-src" name="avatar_src" id="avatar_src" type="hidden">
              <input class="avatar-data" name="avatar_data" type="hidden">
              <label for="avatarInput">图片上传</label>
              <input class="avatar-input" id="avatarInput" name="avatar_file" type="file" style="display:none;"></div>
              <img src="__PUBLIC__/images/shangchuang.png" onclick="$('#avatarInput').click();">
            <div class="row">
              <div class="col-md-9">
                <div class="avatar-wrapper"></div>
              </div>
              <div class="col-md-3">
                <div class="avatar-preview preview-lg"></div>
                <div class="avatar-preview preview-md"></div>
                <div class="avatar-preview preview-sm"></div>
              </div>
            </div>
            <div class="row avatar-btns">
              <div class="col-md-9">
                <div class="btn-group">
                  <button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转</button>
                </div>
                <div class="btn-group">
                  <button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转</button>
                </div>
              </div>
              <div class="col-md-3">
                <button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i> 保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
<!---头像模态框---->
<script type="text/javascript">
function edit(){
	
	var data = $('#userform').serialize();
    $.post('{:U("Usermanger/edit")}',data,function(response){
    if(response.status=='-1'){
     layer.msg('修改失败!');   
    }else if(response.status=='1'){
     layer.msg('修改成功!');  		                           
    }else{
		layer.msg(response.status);  	
	}
    }) ;
}
</script>
<!---动态模态框--->
<script type="text/javascript">
   function changepwd(){
	   var pwd=$('#pwd').val();
	   var ajaxSidUrl='{:U("Index/savepwd")}'; 
	   $.ajax({
            //提交数据的类型 POST GET
            type: "POST",
           //提交的网址
           url: ajaxSidUrl,
           //提交的数据
          data: {pwd:pwd},
           //返回数据的格式
          datatype: "json",
          //成功返回之后调用的函数
          success: function (data) {
          ////根据ajax返回参数判断验证码发送情况
          if(data['status']=="1"){  
            layer.msg('修改密码成功');
			window.location.reload();
         }else if(data['status']=="2"){
			layer.msg('原密码与旧密码相同');
			window.location.reload();
		 }else{
			layer.msg('修改密码失败');
			window.location.reload();
		 }
		  }
      });
   }
</script>
<script type="text/javascript">
    function eidtuserpwd(){
	  var pwd=$("#userpassword").val();
	  var id=$("#userid").val();
	  var ajaxSidUrl='{:U("Usermanger/edituserpwd")}'; 
	   $.ajax({
            //提交数据的类型 POST GET
            type: "POST",
           //提交的网址
           url: ajaxSidUrl,
           //提交的数据
          data: {pwd:pwd,id:id},
           //返回数据的格式
          datatype: "json",
          //成功返回之后调用的函数
          success: function (data) {
          ////根据ajax返回参数判断验证码发送情况
          if(data['status']=="1"){  
            layer.msg('修改密码成功');
			window.location.reload();
         }else if(data['status']=="2"){
			layer.msg('原密码与旧密码相同');
			window.location.reload();
		 }else{
			layer.msg('修改密码失败');
		 }
		  }
      });
   }
</script>
</body>
</html>
>